/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */

 /* GENERAL STYLES */
 body,html{
    height:100%;
}

.card {
    margin: auto;
    float: none;
    width: 448px;
    height: 39rem;
    border-radius: 10px;
}

.color_img_wrapper {
    
    z-index: 50;
    border-radius: 10px 10px 0 0;
}

.card-img-top {
    width: 100%;
    min-height: 125%;
    position: absolute;
    left: 50%;
    top: -25%;
    transform: translateX(-50%);
}

.color_img_wrapper:after {
    content: '';
    display: block;
    padding-top: 0;
}


.card-body{
    margin-top: -1.25rem;
    padding: 1.5rem;
}

/* CENTER MODALS */
.modal {
    text-align: center;
    padding: 0!important;
    font-size: 1.56rem;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#myFileInput{
    position: absolute;
    top: -99999999999rem;
    width: 1px;
    overflow: hidden;
}

/* LOADER */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #aaa;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
} 

#predictButton, #retrainButton{
    width: 8.2rem;
}

.retrain_card_body{
    display: none;
}

.retrain_button{
    width: 38%;
    padding: 0.65rem 1.55rem 0.65rem 1.55rem;
    background: #FC4A1A;
    color: white;
}

.take_data_class_btn{
    width: 38%;
    padding: 0.4rem 1.25rem 0.4rem 1.25rem;
    background: #241B3D;
    color: white;
    width: 35%
}

.add_class_button{
    width: 38%;
    float: left;
    margin-left: 6%;
    margin-right: 6%;
    padding: 0.65rem 1.55rem 0.65rem 1.55rem;
    background: #4ABDAC;
    color: white;
}

.new_classes{
    background: rgba(136, 136, 136, 0.11);
    padding: 1rem;
    overflow: scroll;
    height: 8.5rem;
}

.new_class_input{
    float: left;
    background: transparent;
    border: 1px solid #999;
    color: #241B3D;
    padding: 0.35rem;
    width: 60%;
    margin-right: 5%;
}

.title_transfer{
}

#webcam{
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-size: cover;
    width: 448px;
    height: 448px;
    margin-top: -56px;
 }
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

